# Restic Settings
export PATH_TO_RESTIC="/usr/bin/restic"
export RESTIC_REPOSITORY=""
export RESTIC_PASSWORD=""

# AWS (IDrive e2) Settings
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# Nextcloud settings
export NC_SHELL_USER="shell-user-that-runs-php-for-nextcloud"
export PATH_TO_PHP="/usr/bin/php"
export PATH_TO_MYSQLDUMP="/usr/bin/mysqldump"
export NC_MYSQL_DB="your-nextcloud-database-name"
export PATH_TO_NC_OCC="/path/to/nextcloud/occ"
export PATH_TO_NC_DATA="/path/to/nextcloud/data"